/* importação de fonte */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: #c4dacf;
}

header {
	display: flex;
	flex-direction: column;
	padding: 50px;
	text-align: center;
	background: #6d4ba3;
	color: white;
	font-size: 30px;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-right: 90px;
	margin-left: 90px;
	border: 5px solid black;
}

/*
Em analise:
height: 6em;
border: 1px solid black;
margin-top: auto;
margin-bottom: 100px;
margin-right: 90px;
margin-left: 90px;
*/

/* Estilização do Formulario  */
label {
	font-size: 16px;
	padding-bottom: 5px;
}

input {
	margin-bottom: 20px;
	padding: 10px;
	border-color: #4baec1;
}

.formulario {
	padding: 50px 20px 30px 20px;
	display: flex;
	justify-content: space-around;
	text-align: left;
	flex-direction: column;
	background-color: #dbc2cf;
	margin: 0 100px 0 100px;
}

.textoformulario {
	padding: 15px;
	display: flex;
	flex-direction: column;
}

/*TABELA*/
table {
	border: 2px solid #6d4ba3;
	letter-spacing: 1px;
	width: 100%;
	border-radius: 8px;
	padding: 2%;
	text-align: center;
	margin-top: 60px;
	border-collapse: separate;
}

th {
	border: 1px solid #6d4ba3;
	padding: 1%;
	border-radius: 5px;
	text-align: center;
	color: white;
}

tr {
	background-color: #6d4ba3;
	text-align: center;
}

td {
	text-align: center;
	height: 4vh;
	padding: 1%;
	color: rgb(255, 255, 255);
}

.excluirEbook {
	text-align: center;
	margin-top: 20px;
}
